<div>
  <h2>Create ingredient</h2>
  <form [formGroup]="ingredientform" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12">
        <label>Ingredient name:</label>
        <input type="text" formControlName="name" />
      </div>
      <div class="col-12">
        <button class="btn" type="submit" [disabled]="!ingredientform.valid">Submit</button>
      </div>
    </div>
  </form>
</div>
